mixin newsList
  li.news__item.j_equal-height.news__item_goods
    .news__item-inner
      .news__item-text
        a.news__title(href='single-news.html') Новинка — мастика и цветная глазурь
        .news__addition 20 июля 2017 года
        .news__theses К нам в магазин поступили уникальные продукты из Италии, все они уже в продаже!
      .tags__block
        a.tag.tag-goods(href='#') Товары
  li.news__item.j_equal-height.news__item_sale
    .news__item-inner
      .news__item-text
        a.news__title(href='single-news.html') Снижены цена на коробки для тортов и капкейков
        .news__addition 20 июля 2017 года
        .news__theses К нам в магазин поступили уникальные продукты из Италии, все они уже в продаже!
      .tags__block
        a.tag.tag-sale(href='single-news.html') Акции
  li.news__item.j_equal-height.news__item_other.news__item_w-img
    .news__item-inner
      .news__item-text
        a.news__img-wrap(href='#')
          img(src='img/content/news/1_300x190.jpg')
        a.news__title(href='#') Лимитирование поставок продукции из США и Европы
        .news__addition 20 июля 2017 года
        .news__theses В связи с введением эмбарго для России, некоторые товары...
      .tags__block
        .tag.tag-other Другое
mixin cartList
  ul.cart-details__list
    each item in [1,2]
      li.cart-details__item
        .cart-details__img-wrap
          img(src='img/content/search-results/1.jpg')
        .cart-details__item-content(href="#")
          .cart-details__descr
            a.cart-details__text(href='#')
              h4.cart-details__title Засахаренные апельсины дольки Italcanditi
              .cart-details__info США, 2,3 кг
            .cart-details__price 1299 ₽
            .cart-details__amount-wrap
              +productAmount('cart-details__amount')
          a.cart-details__remove-link(href='#') Удалить
mixin reviewItem(item)
  li.reviews__item
    .review__author Елизавета Больдерштейн
    .review__rating
      select.j_rating.j_rating_read(data-rating='4')
        each item,index in [1,2,3,4,5]
          option(value= index+1 )
    .review__date 20 апреля 2017 года
    .review__text
      p Отличный магазин! Заказ делала первый раз и не последний! Менеджер Дарья, все мне подробно рассказала и объяснила. Так как пришлось самим связываться с ТК, Дарья мне помогла, отвечая на мои бесконечные звонки и вопросы. Товар пришел качественно упакован, как в плотный картон, в мягкую бумага так и пленку! Заказывали принтер и пищевую бумагу.
      p Спасибо за сотрудничество!
mixin breadcrumbs(list) 
  .breadcrubms
    ul
      each listItem in list
        li
          a(href="#")=listItem
mixin newArrivals
  .sidebar__block
    p.sidebar__block-text Новые поступления в нашем магазине, самые горячие новинки!
    a.button-link(href='#' data-text='Посмотреть товары' data-text-mobile='Посмотреть') 
      span.btnTxt Посмотреть товары
      span.btnTxt-mob Посмотреть
mixin aboutMenu(menu)
  if (Array.isArray(menu) && menu[0] == 'big')
    ul.sidebar__menu
      -var links = [];
      each item, index in ['Расподажа','Ингридиенты',['Оформление',['Посыпки, шарики','Украшения','Десерты','Крем и топпинги']],'Шоколад и какао','Мастика','Кулинарые добавки','Ароматизаторы','Айсинг','Красители','Специи']
        li.sidebar__menu-item(class= Array.isArray(item[1]) ? 'sidebar__menu-item_extended' : '')
          a.sidebar__menu-link( href= links[index] ? links[index] : '#' class= index == 0 ? 'active': '')= Array.isArray(item[1]) ? item[0] : item
          if Array.isArray(item[1])
            ul.sidebar__sub-menu
              each link in item[1]
                li.sidebar__menu-item
                  a.sidebar__menu-link( href='#')=link
  if (Array.isArray(menu) && menu[0] == 'mobile')
    ul.sidebar__menu
      -var links = [];
      each item, index in [['Лавка кулинара',['Шоколад и какао','Мастика','Кулинарые добавки','Ароматизаторы','Айсинг','Красители','Специи']],'Кондитерский инвентарь',['Товары творчества',['Посыпки, шарики','Украшения','Десерты','Крем и топпинги']],'Поиск по магазину']
        li.sidebar__menu-item(class= Array.isArray(item[1]) ? 'sidebar__menu-item_extended' : '')
          a.sidebar__menu-link( href= links[index] ? links[index] : '#')= Array.isArray(item[1]) ? item[0] : item
          if Array.isArray(item[1])
            ul.sidebar__sub-menu
              li.sidebar__menu-item
                a.sidebar__menu-link.mobile-menu__go-back(href='#')
                  //- +icon('')
                  span=item[0]
              each link in item[1]
                li.sidebar__menu-item
                  a.sidebar__menu-link( href='#')=link
  else if (Array.isArray(menu) && menu[0] == 'personal')
    ul.sidebar__menu
      -var links = ['personal.html','orders.html','order-history.html','#']
      each item, index in ['Личный кабинет','Ваши заказы','История заказов','Любимые товары']
        li.sidebar__menu-item
          a.sidebar__menu-link( href= links[index] ? links[index] : '#' class= index == menu[1] ? 'active': '')=item
  else
    ul.sidebar__menu
      -var links = ['about.html','news.html','#','reviews.html','store-notices.html','']
      each item, index in ['О компании','Новости','Блог','Отзывы','Уведомления магазина','Пожелания <br> по ассортименту']
        li.sidebar__menu-item
          a.sidebar__menu-link( href= links[index] ? links[index] : '#' class= index == menu ? 'active': '')!=item
mixin productAmount(className)
  label.amount-select__block.j_cart-item-amount(class = className)
    span.decrease
      +icon('i_minus')
    input(type='text' placeholder='1' readonly='true').j_cart-item-amount_input
    span.increase
      +icon('i_plus')
mixin goodsBlock(contentObj,fullMode)
  if !contentObj 
    -var contentObj = {img: 'algamar_300x190',imgLineMode: 'algamar_280x172', status: ['Акция'], title: 'Агар-агар Algamar Algas Marinas S.A', info: 'США, 283 гр', 			desrc: 'Эти драже идельно подойдут для больших и малых торжеств. Арахис в глазури можно есть как самостоятельное блюдо, так и украшать...', 			oldPrice: '479', 			price: '379'		}
  .goods__item
    .goods__item-inner
      .goods__img-wrap
        .goods__img(data-mode-img='img/content/catalog/cropped/'+contentObj.imgLineMode+'.jpg')
          //- img(src='img/content/catalog/'+ (x%2 == 0 ? 6 : 8) +'.jpg')
          img(src='img/content/catalog/cropped/'+contentObj.img+'.jpg')
        ul.goods__status-list
          each status in contentObj.status
            li.goods__status-item.sale=status
      .goods__data-wrap.j_equal-height
        a.goods__title(href='#' title=contentObj.title)=contentObj.title
        .goods__info-line
          span.goods__info=contentObj.info
          |
          |
          span.goods__average-mark
            span.mark 4.2
            |
            |
            span.votes (12)
        if fullMode
          .goods__descr=contentObj.desrc
      .goods__extended-block
        .goods__price-block
          span.goods__price_old=contentObj.oldPrice+' ₽'
          |
          |
          span.goods__price=contentObj.price+' ₽'
          |
          |
          br
          +productAmount('goods__amount')
        .goods__hover-block
          a.goods__add-cart(href='#', data-text='Добавить в корзину') 
            span.btnTxt Добавить в корзину
mixin goodsBlockSimple
  if !contentObj 
    -var contentObj = {img: 'algamar_300x190', title: 'Агар-агар Algamar Algas Marinas S.A', info: 'США, 283 гр', 			desrc: 'Эти драже идельно подойдут для больших и малых торжеств. Арахис в глазури можно есть как самостоятельное блюдо, так и украшать...', staticPrice: '379'		}
    .goods__item
      .goods__item-inner
        .goods__img-wrap
          .goods__img
            img(src='img/content/catalog/cropped/'+contentObj.img+'.jpg')
        .goods__data-wrap.j_equal-height
          .goods__title=contentObj.title
          .goods__info-line
            span.goods__info=contentObj.info
            |
            |
            span.goods__average-mark
              span.mark 4.2
              |
              |
              span.votes (12)
          if fullMode
            .goods__descr=contentObj.desrc
        .goods__extended-block
          .goods__price-block
            span.goods__price_static=contentObj.staticPrice+' ₽'
            |
            |
            br
            +productAmount('goods__amount')
          .goods__hover-block
            a.goods__add-cart(href='#', data-text='Добавить в корзину') 
              span.btnTxt Добавить в корзину
mixin interactiveCardCupcakes
  .interactive-card.mugs-for-cupcakes(style='background-image: url(img/content/cake_icon.png);')
    .text Скидка <br> на формочки <br> для кексов
mixin newArrivalsList
  .sidebar__block.arrivals-list__card
    .sidebar__block-title 
      +icon('i_star','')
      |
      |
      span.vm Новые поступления
    ul.arrivals__list
      each item in ['Коробки для высоких <br> тортов','Цветочная выльца и <br> блёстки','Натуральные красители','Формы для конфет']
        li.arrivals__item!=item
      li.arrivals__item
        a.arrivals__link Посмотреть все поступления   
mixin recentlyViewed(title,idCarousel)
  .recently-viewed
    .recently-viewed__title=title
    .recently-viewed__slider.j_nav-index-fix.goods__list.mode_block.owl-carousel(id=idCarousel)
      -for(var x=0;x<9;x++)
        +goodsBlock('','')
mixin accentBlock
  .accent-block
    p.ui_descr_black А ещё у нас есть свой блог, в котором мы публикуем интересные кулинарные истории и необычные рецепты.
    a.ui_button_accent(href='#' data-text='Посмотреть блог')
      span.btnTxt Посмотреть блог
mixin recipesSlider(title)
  .recipes-block
    .section__title=title
    .recipes__slider.owl-carousel.j_recipes
      -for(var x=0;x<6;x++)
        .recipe__item(href='#')
          a.recipe__img(href='#')
            img(src='img/content/recipe_300x190.jpg')
            i.play-video
              +icon('play-video')
          a.recipe__info(href='#')
            .recipe__title Рецепт шоколадного торта с ягодами
            .recipe__date 20 июля 2017 года
            .recipe__descr Видео с пошаговым рецептом одного из самых вкусных десертов.
          .tags__block
            a.tag.tag-recipe(href='#') Рецепты
mixin orderBlock 
  .order__block 
    .order__block-inner
      .order__number Заказ 265487
      dl.order__details-list
        each item in [['Дата заказа','10 сентября 2017 года'],['Доставка','В пункт самовывоза по адресу ул. Октя́брьской Железной дороги, д. 2, стр. 2'],['Дата доставки','12 сентября 2017 года (вторник)'],['Стоимость','22 320 ₽ ']]
          dt.order__detail-title=item[0]
          dd.order__detail-data=item[1]
    .j_toggle-wrap
      .j_toggle-object
        .order__goods-list 
        each item in [['1.jpg','Засахаренные апельсины дольки Italcanditi','США, 2,3 кг','579 ₽','12'],['1.jpg','Засахаренные апельсины дольки Italcanditi','США, 2,3 кг','579 ₽','12'],['1.jpg','Засахаренные апельсины дольки Italcanditi','США, 2,3 кг','579 ₽','12']]
          .order__goods-item 
            .order__goods-img-wrap
              img(src='img/content/search-results/'+item[0])
            .order__goods-info-wrap
              .order__goods-desrc-wrap
                .order__goods-name=item[1]
                .order__goods-addition=item[2]
              .order__goods-data-wrap
                .order__goods-price=item[3]
                .order__goods-amount
                  +icon('i_cross')
                  span.amount=item[4]
      .order__show-details-line
        .order__amount Заказ на 4 товара
        a.order__show-list-link.j_toggle-init(href='#' data-replacement='Скрыть список') Показать список 
